.App {
  background-color: #462e3d;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-heading {
  padding-left: 50px;

}
